#home-page-nav-button{
    width: 33vw;
    height: calc(100vh - 150px);
    border-radius: 5;
    font-size: 30;
    font-weight: bold;
    text-align: center;
    display: flex;
    justify-content: center;
    color: black;
    text-decoration: none;
    position: relative;
    background-color: #f8f8f8;
    margin-top: 60;
}


#home-page-nav-button div{
    font-size: 30px;
}

@media (pointer: none), (pointer: coarse), (max-width: 1080px){
    #home-button-nav-container{
        flex-direction: column;
    }
    #home-button-nav-container div{
        margin-top: 0 !important;
    }
    #home-page-nav-button{
        width: 100%;
        height: 150px;
        display: flex;
        justify-content: flex-start;
        margin: 10px 0;
    }
    #home-page-nav-button div img{
        display: block;
        margin-top: 15px;
        margin-bottom: 15px;
        margin-left: 20px;
    }
    #home-page-nav-button div{
        font-size: 20px;
    }
    #home-button-nav-container-bg{
        background-size: 200px !important;
        background-position: 50vw 50% !important;
        filter: blur(0) brightness(1) !important;
    }
}